@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* 
    En el apartado de indes.css se encontrará todo lo relacionado con tema de color, 
    tipografía y todo lo necesario para que funcione sin repetir tanto código.  
*/

:root{
    --color-primario: #8C8C8C ;
    --color-secundario:#2AAA5C ;
    --color-terciario: #E95A0C;
    --color-primario-claro: #f8f8f8 ;
    --color-texto: #000000;
    --color-texto-inverso: #FFFFFF;

    --tipo-texto: 'Barlow Condensed', sans-serif;
}

/* 
    Elemento para eliminar el body mientras carga toda la pestaña  
*/

*{
    margin: 0%;
    padding: 0%;
}

body{
    justify-content: center;
    background-image: url(/public/assets/img/Fondo.png);
    /* height: 100vh; */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* 
    CARGA DE PANTALLA 
*/

.loader{
    background-image: url(/public/assets/img/Fondo.png);
    width: 100%;
    height: 100vh; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.8s ease-in-out;
  
  }
  
  
  .loader2{
    clip-path: circle(0% at 100% 100%);
  }
  
  
  .loader__logo{
  
    padding-top: 70px;
    width: 150px;
    display: block;
    padding-left: 20px;
    
  }
  
  .loader__logo__nombre{
    width: 200px;
    display: block
  }
  
  .loader__gif{
    padding-top: 100px;
    width: 100px;
    padding-left: 35px;
  }



