
/* 
    Se encontrara el css de todo el diseño del apartado inicio del aplicativo helppaws 
*/

/* Contenido de presentación Helppaws */

.inicio__helppaws__section{
    display: flex;
    justify-content: space-between;
    max-width: 950px;
    margin: 0 auto;
    padding: 40px;
    align-items: center;
}

.inicio__helppaws__informacion{
    max-width: 450px;
    
}

.inicio__helppaws__titulo{
    font-size: 60px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--tipo-texto);
}

.inicio__helppaws__parrafo{
    font-size: 25px;
    margin: 20px;
    font-family: var(--tipo-texto);
}

.inicio__helppaws_boton__contenedor{
    text-align: center;
    padding-top: 30px;
}

.inicio__helppaws_boton{
    background-color: var(--color-secundario);
    color: var(--color-texto-inverso);
    border: none;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
    margin: auto;
    width: auto;
}
.inicio__helppaws_boton:hover{
    filter: brightness(130%);
}

.inicio__helppaws__logo{
    width: 400px;
}




